.header{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;

    &Left{
        flex:0.5;
        min-width: 70px;
        background-color: white;
        color:grey;
        border-radius: 30px;
        padding: 10px;
        display: flex;
        align-items: center;
        input{
            border:none;
            width: 100%;
        }
    }
    &Right{
        display: flex;
        align-items:center;
        h4{
            margin-left: 14px;
            margin-right: 14px;
            font-size: 20px;
        }
    }
}