.login{
   display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
    img{
        width: 100%;
    }
    a{
        padding: 20px;
        border-radius: 99px;
        background-color:#1db954;
        font-weight: 800px;
        color: white;
        text-decoration: none;
    }
}

